# Tabular Data

Tabular data are data in a table format, such as an Excel spreadsheet.
We often need to work with tabular data.
*Pandas* is a powerful Python library for working with tabular data.

In this part, we will work with real-world data from the European Court of Human Rights [OpenData project](https://echr-opendata.eu/) (ECHR-OD).
ECHR-OD has data sets with cases from the European Court of Human Rights in different formats.
Here, we will work with data from the tabular data file `echr_2_0_0_structured_cases.csv`, which is in *CSV* format.
CSV is an abbreviation for "comma separated values".

## Reading CSV Files
To read the data set, we must first import the pandas library.
Then, we use pandas `read_csv()` function.

In [ ]:
import pandas as pd

cases = pd.read_csv('cases-100.csv')

```{note}
By convention, pandas is usually imported as `pd`.
```

## Examining Data
Now, we can examine the data set.
Pandas has a method `head()` which prints the first five rows of the table.

In [ ]:
display(cases.head())

```{admonition} Display Function
We can use the Jupyter Notebook function `display()` to show a nicer format than with `print()`.
```

This is a large table with 374 columns. Therefore, pandas shows only the first and last columns.
We can look at the column names.

There are several interesting columns.
For example, the column `docname` contains the title of the case.
`country.name` contains the name of the country involved in the case.

In [ ]:
display(list(cases.columns))

## Getting a Row
We can use `.loc[]` to select parts of the table.
First, we select a row using the index.

In [ ]:
selection = cases.loc[0]
display(selection)

```{note}
Pandas only shows the first and last five columns.
To show all the data, we can convert them to a `list()`.
```

In [ ]:
print(list(selection))

## Getting a Single Cell
The titles of the cases are in the column `docname`.
We can get the title in row 0.

In [ ]:
selection = cases.loc[0, 'docname']
print(selection)

```{note}
Tables are two-dimensional; therefore, we must use two indexes.
```

## Listing a Column
We can also get the titles from the first five rows using a range of indexes.

In [ ]:
selection = cases.loc[0:4, 'docname']
display(selection)

If we want to get the entire `docname` column, we leave out the indexes and just use a colon.

In [ ]:
selection = cases.loc[:, 'docname']
display(selection)

```{note}
We have seen the colon before with lists.
With lists we can also leave out one or both of the indexes.
Without any indexes, we get a copy of the entire list:
`list_copy = old_list[:]`
```

## Getting Multiple Columns
Here we select multiple columns:

In [ ]:
selection = cases.loc[50:54, ['docname', 'decisiondate']]
display(selection)

```{admonition} Missing Data
Here, some of the dates are missing.
Pandas uses `NaN` to indicate missing numeric data, short for *Not a Number*.
```

## Relational Operators
Pandas can select data conditionally, using relational operators.
The ECHR-OD case data has a column `ccl_article=2`.
This column has the value 1 for cases where there was found a violation of Article 2 of the European Convention on Human Rights.

We can use this column in an expression with a relational operator.

In [ ]:
cases['ccl_article=2'] == 1

```{admonition} Boolean Columns
The result is a Boolean column.
When we use them with pandas tables, relational operators return Boolean columns.
This is just like regular relational operators, except that regular relational operators return a single value.
```

We can use the result as a filter when selecting cases.
This will select the cases where the Boolean value is `True`.

In [ ]:
selection = cases.loc[cases['ccl_article=2'] == 1]
display(selection)

```{admonition} Conclusion Columns
The conclusions of each case are listed in the columns starting with `ccl_article`.
For Article N, the column name is `ccl_article=N`.
These columns have 3 possible values:

| Value | Meaning |
|------:|:--------|
| 1 | violation |
| -1 | no violation |
| 0 | no conclusion / not relevant |
```

Likewise, we can select cases where there was found no violation of Article 5 ยง 3.

In [ ]:
selection = cases.loc[cases['ccl_article=5-3'] == -1]
display(selection)

## Selecting by Year
We can select cases by the decision date.
First, we must convert the `decisiondate` column to machine-readable format.

In [ ]:
cases['decisiondate'] = pd.to_datetime(cases['decisiondate'])

```{note}
Python has the built-in library `datetime` for handling time and dates.
But in this case, we only need pandas `to_datetime()` function.
```

Now, we can use the year from the decision date with a relational operator.

In [ ]:
selection = cases.loc[cases['decisiondate'].dt.year == 2005]
display(selection)

## Aggregating Data
Pandas has various functions for aggregating data.
For example, we can count the number of occurrences of different values.

The column `doctypebranch` contains the type of deciding body for the case.

In [ ]:
selection = cases['doctypebranch'].value_counts()
print(selection)

## Visualizing Data
We can also plot our results.
Here we continue working with our selection.

In [ ]:
selection.plot(kind='bar')